<!DOCTYPE html>
<html>

<head>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.1/handlebars.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
</head>

<style>
	.register {
	    background: -webkit-linear-gradient(left, #cbf5f4, #619191);
	    #margin-top: 0.5%;
	    padding: 6%;
	}
</style>

<body >
	<nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="/">APPS</a>
	    </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Schedule <span class="sr-only">(current)</span></a></li>
        <li><a href="/search">Search</a></li>
				<li><a href="/search">Cancel</a></li>
				<li><a href="/approvals">Approvals</a></li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
				<li><a href="/usermanagement">Manage Users</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Support <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="mailto:vbhat@akamai.com" target="_blank">Contact Us</a></li>
            <li><a href="https://collaborate.akamai.com/confluence/display/APPS/Getting+started" target="_blank">Documentation</a></li>
            <li><a href="https://github.com/vreddhi/apps" target="_blank">Contribute</a></li>
						<li><a href="/logout">Logout</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="https://ac.akamai.com/community/teams/gss/global-services/sd/service-delivery-americas" target="_blank">SD Americas</a></li>
          </ul>
        </li>
      </ul>

	  </div><!-- /.container-fluid -->
	</nav>

	<div class="register">
	<div class="container">
		<div class="row">
			  <table class="display table-hover compact" id="example">
		    <thead>
		      <tr>
		        <th>Configuration Name</th>
		        <th>Version</th>
		        <th>Network</th>
		        <th>Schedule date & time (GMT)</th>
		        <th>Schedule ID</th>
		        <th color="red">Status </th>
		        <th>Action</th>
		      </tr>
		    </thead>
		    <tbody>
		    	{{#each dataRows}}
		    	<form class="form-inline" action ="/cancel" method="GET">
		      <tr>
		        <td>{{config_name}}</td>
		        <td>{{version}}</td>
		        <td>{{network}}</td>
		        <td>{{date}}</td>
		        <td>{{job_id}}</td>
		        <td id="status_{{job_id}}">{{status}}</td>
				    <td><button type="button" class="{{buttonClass status}}" id="{{job_id}}"
							data-complete-text="<i class='fa fa-circle-o-notch fa-spin'></i> APPROVED"
							data-cancelling-text="<i class='fa fa-circle-o-notch fa-spin'></i> Approving Job"
							{{buttonState status}}>{{buttonValue status}}</button></td>
						</td>
		        <input type = "hidden" name = "job_id" value = "{{job_id}} " />
		      </tr>
		      </form>
		      {{/each}}
		    </tbody>

		 </table>
	 </div>
 </div>
 </div>

<script >

$(document).ready(function() {
  $('#example').DataTable();
});

$('.btn').on('click', function() {
	 var job_id = this.id;
	 var $this = $(this);
	 $this.button('cancelling');
	 var xhr = new XMLHttpRequest();
	 xhr.open("GET", "/confirm?job_id=" + job_id, true);
	 xhr.onload = function (e) {
	   if (xhr.readyState === 4) {
	     if (xhr.status === 200) {
				 var data=JSON.parse(xhr.responseText);
				 setTimeout(function() {
					 console.log(data['updatedRows'])
					 if(data['updatedRows'] == 1) {
						 $this.button('complete');
						 document.getElementById("status_" + job_id).innerHTML = "SCHEDULED";
						 document.getElementById(job_id).disabled=true;
						 document.getElementById(job_id).classList.remove('btn-info');
						 document.getElementById(job_id).classList.add('btn-danger');
					 } else {
						 document.getElementById("status_" + job_id).innerHTML = "CANCEL FAILED";
						 document.getElementById(job_id).disabled=true;
						 setTimeout(function() {
							 document.getElementById(job_id).disabled=false;
						 },2000)
					 }

				 }, 3000);
	     } else {
	       console.error(xhr.statusText);
	     }
	   }
	 };
	 xhr.onerror = function (e) {
	   console.error(xhr.statusText);
	 };
	 xhr.send(null);
});

</script>

</body>
</html>
