<!DOCTYPE html>
<html>
<head>	

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.1/handlebars.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">
</head>
<body onload="myFunction()">
		  <nav class="navbar navbar-inverse">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand"  href="#">APPS</a>
		    </div>
		    <ul class="nav navbar-nav">
		      <li  ><a href="/">Schedule New Activation</a></li>
		      <li  ><a href="/cancel">Search/Cancel Scheduled Activations</a></li>
		    </ul>
		  </div>
		</nav>
	<div class="container">
	  <h2><p class="text-center">Automated Prod-Push Scheduler</p></h2>
	  <br></br>
	  <div id="warning_msg">	
	  </div> 
	  <br></br>
	  <form class="form-inline" >
	  	<div class="row">
	  			  <table class="table table-hover">
				    <thead>
				      <tr>
				        <th>Configuration Name</th>
				        <th>Version</th>
				        <th>Schedule date & time</th>
				        <th>Schedule ID</th>
				        <th>Status </th>
				        <th>Action</th>
				      </tr>
				    </thead>
				    <tbody>
				      <tr>
				        <td>{{config_name_1}} </td>
				        <td>{{config_version_1}}</td>
				        <td>{{actvn_date_time}}</td>
				        <td>{{schedule_id}}</td>
				      	<td>{{schedule_status}}</td>
				        <td><button type="submit" class="btn btn-danger" id="singlebutton" disabled>Cancel schedule</button></td>
 						</td>
				        <input type = "hidden" name = "schedule_id" value = "{{schedule_id}} " />
				        <input type = "hidden" name = "config_name" value = "{{config_name_1}} " />

				      </tr>
				    </tbody>
				 </table>

  	  </form>		
	</div>

  <script id="text-template" type="text/x-handlebars-template">
    <br>#if cond1 (expected true)
    {{#if cond1}}
        hello
    {{else}}
      false
    {{/if}}

    <br>#if cond2 (expected false)
    {{#if cond2}}
      true
    {{else}}
      false
    {{/if}}
  </script>

<script type="text/javascript">
var data = {
   'cond1'  : {{cond1}},
   'cond2'  : true,
};
 
 function myFunction() {
    var source = document.getElementById('text-template').innerHTML;
    var template = Handlebars.compile(source);
    var html = template(data);
    document.getElementById('content').innerHTML = html;
};
</script>


</body>
</html>
