<!DOCTYPE html>
<html>
<head>

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.1/handlebars.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">


</head>
<body >
		  <nav class="navbar navbar-inverse">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand"  href="/">APPS</a>
		    </div>
		    <ul class="nav navbar-nav">
		      <li  ><a href="/">Schedule New Activation</a></li>
		      <li  ><a href="/search">Search/Cancel Scheduled Activations</a></li>
		    </ul>
		  </div>
		</nav>
	<div class="container">
	  <h2><p class="text-center">Automated Prod-Push Scheduler</p></h2>
	  <br></br>
	  	<div class="row">
	  			  <table class="display" id="example">
				    <thead>
				      <tr>
				        <th>Configuration Name</th>
				        <th>Version</th>
				        <th>Network</th>
				        <th>Schedule date & time (GMT)</th>
				        <th>Schedule ID</th>
				        <th>Status </th>
				        <th>Action</th>
				      </tr>
				    </thead>
				    <tbody>
				    	{{#each dataRows}}
				    	<form class="form-inline" action ="/cancel" method="GET">
				      <tr>
				        <td>{{config_name}}</td>
				        <td>{{version}}</td>
				        <td>{{network}}</td>
				        <td>{{date}}</td>
				        <td>{{job_id}}</td>
				        <td id="status_{{job_id}}">{{status}}</td>
						    <td><button type="button" class="{{buttonClass status}}" id="{{job_id}}" data-complete-text="<i class='fa fa-circle-o-notch fa-spin'></i> CANCELLED" data-cancelling-text="<i class='fa fa-circle-o-notch fa-spin'></i> Cancelling Job" {{buttonState status}}>{{buttonValue status}}</button></td>
								</td>
				        <input type = "hidden" name = "job_id" value = "{{job_id}} " />
				      </tr>
				      </form>
				      {{/each}}
				    </tbody>

				 </table>
				 <div id="errormessage_{{job_id}}"></div>


	</div>

<script >

$(document).ready(function() {
  $('#example').DataTable();
});

$('.btn').on('click', function() {
	 var job_id = this.id;
	 var $this = $(this);
	 $this.button('cancelling');
	 var xhr = new XMLHttpRequest();
	 xhr.open("GET", "/cancel?job_id=" + job_id, true);
	 xhr.onload = function (e) {
	   if (xhr.readyState === 4) {
	     if (xhr.status === 200) {
	       console.log(xhr.responseText);
				 setTimeout(function() {
				 	 $this.button('complete');
					 document.getElementById("status_" + job_id).innerHTML = "CANCELLED";
					 document.getElementById(job_id).disabled=true;
				 }, 3000);
	     } else {
	       console.error(xhr.statusText);
	     }
	   }
	 };
	 xhr.onerror = function (e) {
	   console.error(xhr.statusText);
	 };
	 xhr.send(null);
});

</script>

</body>
</html>
