<!DOCTYPE html>
<html>
<head>	

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.1/handlebars.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">
</head>
<body >
		  <nav class="navbar navbar-inverse">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand"  href="#">APPS</a>
		    </div>
		    <ul class="nav navbar-nav">
		      <li  ><a href="/">Schedule New Activation</a></li>
		      <li  ><a href="/cancel">Search/Cancel Scheduled Activations</a></li>
		    </ul>
		  </div>
		</nav>
	<div class="container">
	  <h2><p class="text-center">Automated Prod-Push Scheduler</p></h2>
	  <br></br>
	  <br></br>
	  
	  	<div class="row">
	  			  <table class="table table-hover">
	  			  <h5><p class="text-left {{text_danger}}">{{actvn_message}}</p></h5>
				    <thead>
				      <tr>
				        <th>Configuration Name</th>
				        <th>Version</th>
				        <th>Network</th>
				        <th>Schedule date & time (GMT)</th>
				        <th>Schedule ID</th>
				        <th>Status </th>
				        <th>Action</th>
				      </tr>
				    </thead>
				    <tbody>
				    	{{#each data}}
				    	<form class="form-inline" action ="/cancelschedule_issueredirect" method="GET">
				      <tr>
				        <td>{{config_name}}</td>
				        <td>{{version}}</td>
				        <td>{{network}}</td>
				        <td>{{date}}</td>
				        <td>{{job_id}}</td>
				        <td id="{{job_id}}_status">{{status}}</td>
				        <td><button type="button" onclick="cancelSchedule(this.id)" id="{{job_id}}" class="btn btn-danger" {{submit_status}} >Cancel schedule</button></td>
 						</td>
				        <input type = "hidden" name = "schedule_id" value = "{{job_id}} " />
				      </tr>
				      </form>
				      {{/each}}
				    </tbody>

				 </table>
				 <div id="errormessage_{{job_id}}"></div>

  	  		
	</div>

<script >



function cancelSchedule(id) {
	//alert("{{job_id}}")

   var xhttp = new XMLHttpRequest();
   xhttp.onreadystatechange = function() {
     if (this.readyState == 4 && this.status == 200) {
       if (this.responseText == "success") {

  			var element = document.getElementById(id + "_status");
			element.innerHTML = "CANCELLED";
			document.getElementById(id).disabled=true;


       }
 		else{
 			var element = document.getElementById(id + "_status");
			element.innerHTML = "CANCELLED";
			document.getElementById(id).disabled=true;
 			var errormessage = document.getElementById("errormessage_"+ id);
 			errormessage.innerHTML = "Server error"

 		}


    }
    };
  xhttp.open("GET", "/cancelschedule?schedule_id=" + id, true);
  xhttp.send();

}

</script>

</body>
</html>
